.column {
    float: left;
    background-color: #b000b5;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    
}

@media (min-width: 992px) {
    .column {
        width: 30%;
        margin: 10px;
        
    }
}